<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    
    <test verbose="2" preserve-order="true" name="C:/Users/Navis/IdeaProjects/SeleniumTestNG">
        <parameter name="xpathValue1" value="//*[text()='Login']"></parameter>
        <parameter name="xpathValue2" value="//*[text()='Username']"></parameter>
        <parameter name="xpathValue3" value="//*[text()='Password']"></parameter>
       
        <classes>
            <class name="com.test.scenarios.Scenario_09"/>

        </classes>

    </test>

</suite>